* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #171717;
}

.container-body {
  display: flex;
  flex: 3.5;
}

/* SIDEBAR */

.container-sidebar {
  flex: 1;
  background-color: #dbdbdb;
  border: 1px solid rgba(0, 0, 0, 0.082);

}

.radio-inputs-action {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.25rem;
  font-size: 16px;
  height: 40px;
}

.radio-inputs-action .radio-action {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs-action .radio-action input {
  display: none;
}

.radio-inputs-action .radio-action .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
  font-weight: 500;
}

.radio-inputs-action .radio-action input:checked + .name {
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  color: white;
  background-color: #119DA4;
  font-weight: 600;
}

.label {
  color: #02111B;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
  margin-bottom: 15px;
}